doctype html
html
	head
		meta(charset='utf-8')
		title Blockchain
	body
		center
			h1 Blockchain javascript
			p En construcción
			#tablero
				button#add agregar dinero
				button#valid verificar bloque
		script(src='/socket.io/socket.io.js')
		script(type='text/javascript', src='app.js')

