doctype html
html
	head
		meta(charset='utf-8')
		title Blockchain
	body
		center
			h1 Blockchain javascript
			div#data
			#tablero
			br
			br
			br
			br
			br
			div
				button#valid verificar bloque
				button#invalid alterar bloque
		script(src='/socket.io/socket.io.js')
		script(type='text/javascript', src='app.js')

